div(ng-include='"components/navbar/navbar.html"')


.container
  .row
    .col-lg-10
      h1.page-header Tasks
      ul.unstyled(ui-sortable,ng-model='tasks')
        li.task.col-lg-3(ng-class="{selected: task._id == model.selectedTask._id}",ng-click="model.selectedTask = task",ng-repeat='task in tasks')
          span(href='#', tooltip='{{task.name}}')
            | {{task.name}}
            button.close(type='button', ng-click='deleteTask(task)') ×

      .col-lg-12
        | This is the tasks view.
        form
          input.form-control(type='text', placeholder='Add a new task here.', ng-model="newTask")
          span.input-group-btn.form-group
            button(type='submit',ng-click="addTask()" ) Add
    .col-lg-2
      h1.page-header Description:
      .form-group
        label {{model.selectedTask.name}}
        input(ng-model='model.selectedTask.description', type='text')
      .form-group
        button.btn(type='submit',ng-click="saveTask()" ) Save




